{{!-- <h1>Registro</h1>


<form id="loginRegister" class="container">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" >Nombre</label>
    <input type="text" class="form-control" id="nombreRegister" name>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="apellidoRegister">
  </div>



  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="emailRegister" >
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordRegister">
  </div>


  <button type="submit" class="btn btn-primary">Registrar</button>
</form>

<script src="/js/register.js"></script> --}}

<main>
  <section class="registerSection">
    <div class="registerDiv">
      <span class="logo"></span>
      <h1 class="registerTitle">Register</h1>
      <form class="registerForm" id="registerForm">
        <span></span>
        <label>Nombre</label>
        <input type="text" name="firstName" />
        <label>Apellido</label>
        <input type="text" name="lastName" />
        <label>Correo electrónico</label>
        <input type="email" name="email" />
        <label>Contraseña</label>
        <input type="password" name="password" />
        <button class="registerButton">Register</button>
      </form>
    </div>
  </section>
</main>

<script src="/js/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>